@model AplikacjaInternetowa3.Models.Kategoria

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuwanie kategorii</h1>

<h3>Czy jesteś pewien usunięcia?</h3>
<div>
    <h4>Kategoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do kategorii</a>
    </form>
</div>
