@{
    ViewData["Title"] = "Home Page";
}
<style>
    .main{
        margin:300px auto;
        width:50%;
        font-size:35px;
    }
</style>
<div class="main">
    Mateusz Jóźwik<br />
    Indeks: 155698<br />
    Aplikacja powstała w ramach zajęć Aplikacje Internetowe 2021
</div>
